
dd{
	margin-bottom: 10px;
}
tr.odd, tr.info {
background-color:#d6d7c2;
}
tr.even{
background-color:#D7D2B8;
}
tr.even, tr.odd {
border-style:solid;
border-width:1px 0;
}
tr.even, tr.odd {
border-bottom:1px solid #D7D2B8  ;
padding:0.1em 0.6em;
}
td.region, td.module, td.container, td.category {
background-color:#CEC7A3;
border-bottom:1px solid #D7D2B8 ;
border-top:1.5em solid #D7D2B8 ;
color:#353D4F;
font-weight:bold;
}

/* default Drupal styles
-----------------------------------------------*/
.theme-info h2 {
margin-bottom:10px;
}

.form-text, .form-file { width: 100%; }

fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #fdfdfd;
}
.description{
	line-height: 1.25em;
}
td.active{
	background: transparent;
}

tr.dblog-user .active,
tr.dblog-content .active,
tr.dblog-page-not-found .active, tr.dblog-access-denied .active,
tr.dblog-error .active {
	background: transparent;
}

.meta, .content, .node{margin-bottom: 15px;}

.node{	background: #D7D2B8; }

.item-list ul li {
	list-style-image:url(/misc/menu-leaf.png);
	list-style-type:square;
}

#permissions td.module {
	font-weight:bold;
}

html.js fieldset.collapsed{
	border: none;
}
table#permissions{
	width:100%;
}
div.admin-panel h3{
	border-bottom:1px solid #2d2411;
	padding-bottom: 5px;
}
div.admin-panel .description{
	margin-bottom: 1.5em;
	padding:0;
}
div.admin-required,
div.admin-dependencies{margin-left: .5em;color:#555; font-size: .85em; line-height: 1.5em;}
.admin-disabled,
span.admin-disabled{color: #600;}
.admin-enabled,
span.admin-enabled{color:#060;}

table.sticky-header {background:#d6d7c2; }

ul.menu li {
	margin:0.25em 0 0.25em 0.5em;
}



.views-tabset{
	background: #d6d7c2;
}
.views-tabset a:visited, .views-tabset a:hover, .views-tabset a {
	color:#7a340e;
}
.views-tabset .views-tabs{
	background: #d6d7c2;
}
.views-display{
	background: #d6d7c2;
}
.views-display .top{
	background: #d6d7c2;
}
.views-display .tab-section .inside .views-category-title{
background: #CEC7A3;
}
.views-display .tab-section .inside .views-category{
	background: #D7D2B8;
}
#views-ajax-title{
	background: #d6d7c2;
}
.views-tabset .views-tabs ul li.active{
	background:#d6d7c2;margin-right:-1px;position:relative;width:118px;
}
.views-tabset .views-tabs ul li.active a:hover{
	background: #d6d7c2;
}
.views-tabset .views-tabs ul li a:hover{
	background: #d6d7c2;
}
.views-tabset .views-tabs ul li{
	background: #CEC7A3;
}
div.views-display-deleted, div.views-display-deleted div.top, div.views-display-deleted div.tab-section{
background: #cdceba;
}

