
/* -----------------------------------------------
Layout CSS
----------------------------------------------- */

html, body {
    height: 100%;
}

body {
  background: #d6d7c2 url(../images/bg-body.png) top left repeat-x;
  color:#2D2411;
  font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
 /* Fix for Windows.
 	 Lucida Sans doesn't render strong, b, em, or i tags well  */
strong, em, b, i {
    font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 { font-family: Georgia; font-weight: normal; color: #2D2411; }


a:focus, 
a:hover     { color: #2D2411; text-decoration: underline;}
a              { color: #7A340E; text-decoration: none; }


/* Main IDs
----------------------------------------------- */

#header {
	min-height: 143px;
}
#logo-title {
	background: url( ../images/bg-logo.png ) top left no-repeat;
	min-height: 60px;
}
#logo {
	float: left;
}
#name-and-slogan {
	float: left;
	margin-top: 25px;
}
#site-slogan{ color: #fff; }

#navigation {
	position: relative;
	top:12px;
}
#navigation ul li a{
	color:#fff;
	font-size: 1.125em;
}

#breadcrumb{
	position: relative;
	top:10px;
}

#page{
	position: relative;
	min-height: 100%;  
}
* html #page{
	height: 0;
}
#container{
	background: #d6d7c2;
	margin-top: 15px;
}
#sidebar-left{
	background-color: #cec7a3;
	border:1px solid #f5f5f5;
	padding: 0 10px 10px 10px;
	margin-bottom: 20px;
	height: 100%;
}
#sidebar-right{
	padding: 0 10px 10px 10px;
	margin-bottom: 20px;
}


#footer-wrapper{
	background: #2d2411 url( ../images/bg-footer.png) top left repeat-x;
	min-height: 90px;
	width: 100%;
	padding-top:25px;
	clear: both;
}
#footer{
	color:#fdfdfd;
	height: 60px;
}
#logo-title a{
	color: #fff;
	text-transform: uppercase;
}


/* drop shadow effect
-----------------------------------------------*/
 
.shadow-container .shadow2,
.shadow-container .shadow3,
.shadow-container #content,
.shadow-container .node{
	position: relative;
	left: -1px;
	top: -1px;
}
 
	.shadow-container .shadow1 {
		background: #cdceba;
	}
 
	.shadow-container .shadow2 {
		background: #cecfba;
	}
 
	.shadow-container .shadow3 {
		background: #cbccb8;
	}
 
	.shadow-container #content,
.shadow-container .node {
		background: #d7d2b8;
		border: 1px solid #fff;
		padding: 0 10px 10px 10px;
		margin-top: 3px;
		margin-bottom: 20px;
	}

/* Fieldsets items 
-------------------------------------------------------------- */
fieldset {
  border: 1px solid #fff;
  padding: 30px 13px 13px 14px;
  margin: 0 0 10px;
}

fieldset legend span,
fieldset legend a {
  position: absolute;
  margin-top: 9px;
}

fieldset legend a span {
  position: relative;
  margin-top: 0;
}

fieldset.collapsed {
  background: transparent;
}

html.js fieldset.collapsed legend,
html.js fieldset.collapsed legend * {
  display: block;
}
html.js fieldset.collapsed {
  border-width: 1px;
  margin-bottom: 10px;
  padding: 13px;
}

fieldset fieldset {
  background: #fff;
}

fieldset fieldset fieldset {
  background: #f8f8f8;
}

html.js fieldset.collapsible .fieldset-wrapper {
  overflow: visible;
}

fieldset legend {
  text-transform: uppercase;
  font-weight: bold;
}

input.form-submit {
-moz-border-radius-bottomleft:20px;
-moz-border-radius-bottomright:20px;
-moz-border-radius-topleft:20px;
-moz-border-radius-topright:20px;
background:transparent url(../images/button.png) repeat-x scroll 0 0;
border-color:#E4E4E4 #D2D2D2 #B4B4B4;
border-style:solid;
border-width:1px;
color:#7A340E;
cursor:pointer;
font-family:"Lucida Grande",Verdana,sans-serif;
font-size:1.1em;
font-weight:normal;
padding:2px 5px;
text-align:center;
margin-bottom: 10px;
}


/* MAIN MENU - A SUCKERFISH STYLE DROPDOWN MENU 
* for more info about another son of suckerfish...
* http://www.htmldog.com/articles/suckerfish/dropdowns/
* http://www.alistapart.com/articles/horizdropdowns
-------------------------------------------------------------- */
#sf-menu	 {

}

#sf-menu ul.menu { /* top level ul */
  	padding: 0 0 0 0px;
  	list-style: none;
  	z-index: 3;
  	display: inline;
} 

#sf-menu a {
  	display: block;
  	padding: 0px 14px 0px 14px; /* padding between menu elements */
  	text-decoration: none;
}

#sf-menu a:hover {
    color: #2D2411;
}

#sf-menu li {
  	display: inline;
  	float: left;
  	margin: 0;
  	padding: 0;
  	height: 1%;
}

/* SECOND LEVEL LISTS */

#sf-menu ul.menu ul {
  	padding: 0;
  	margin: 1px 0 0 0;
  	list-style: none;
}

#sf-menu ul.menu li ul {
  	position: absolute;
  	width: 200px;
  	left: -999em; /* to hide menus */
  	background-color: #7A340E;
}

#sf-menu ul.menu li li {
  	/* height: auto; */
  	float: left;
  	width: 200px;
}

#sf-menu ul.menu li li a:link,
#sf-menu ul.menu li li a:visited {
  	width: 170px;
}

#sf-menu ul.menu li ul a {
  	width: 200px;
  	line-height: 24px;
	font-weight: bold;
	font-size: 95%;
    border-top: none;
}

/* margin for pullouts */
#sf-menu ul.menu li ul ul {
  margin: -25px 0px 0px 199px;
}

#sf-menu ul.menu li:hover ul ul, 
#sf-menu ul.menu li:hover ul ul ul, 
#sf-menu ul.menu li.sfhover ul ul, 
#sf-menu ul.menu li.sfhover ul ul ul {
  left: -999em;
}

#sf-menu ul.menu li:hover ul, 
#sf-menu ul.menu li li:hover ul, 
#sf-menu ul.menu li li li:hover ul, 
#sf-menu ul.menu li.sfhover ul, 
#sf-menu ul.menu li li.sfhover ul, 
#sf-menu ul.menu li li li.sfhover ul {
  left: auto;
}



