
/* --------------------------------------------------------------  
 *   	Sets up some default typography   
-------------------------------------------------------------- */

/* Default font settings. 
-------------------------------------------------------------- */
body { 
  font-size: 75%; /* (0.75 * 16px = 12px) */
  line-height: 1.5;
 }
 html>body {
 	font-size: 12px;
 }
 p {
 	line-height: 1.5em;
 }
/* Headings
-------------------------------------------------------------- */

h1 { font-size: 2em; line-height: 0.75; margin: 0.75em 0; }
h2 { font-size: 1.5em; line-height: 1em; margin: 1em 0 0.5em 0; }
h3 { font-size: 1.33em; line-height: 1; margin: 1.125em 0 0.5625em 0}
h4 { font-size: 1.1667em; line-height: 1.25; margin: 1.285em 0; }
h5 { font-size: 1em; font-weight: bold; line-height: 1.5em; margin: 1.5em 0; }
h6 { font-size: 1em; font-weight: bold; line-height: 1.5em;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }


/* Text elements
-------------------------------------------------------------- */

p           { margin: 1.5em 0; }
p img       { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     { text-decoration: underline;}
a           { text-decoration: none; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre,code    { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; } 


/* Lists
-------------------------------------------------------------- */

li ul, 
li ol        { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }
li            {line-height: 1.25em; margin: 0.25em 0 0 0;}
ul           { list-style-type: disc; }
ol           { list-style-type: decimal; }
dl           { margin: 0 0 1.5em 0; }
dd          { margin-left: 1em; margin-bottom: 1.5em; line-height: 1.25em; }


/* Tables
-------------------------------------------------------------- */

table        { margin-bottom: 1.4em; width:100%; }
thead th   { border:none;}
th             { font-weight: bold; }
th,td         { padding: 4px 10px 4px 5px; line-height: 1.5em; vertical-align: top; }
tfoot         { font-style: italic; }
caption     { background: #eee; }

/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
